/* CSS Document */
body
{
	background-repeat:no-repeat;
	
	background-attachment: fixed;
}
a.while
{
	color: aqua;
	
	text-decoration: none;
}
.orange
{
	color:darkred;
	
	text-align:center;
}
.center
{
	color:white;
	
	text-align:center;
}
.while
{
	color:white;
}