/* CSS Document */
a.while
{
	color:cyan
}
p.center
{
	color:white;
	
	text-align:center;
}
h1.center
{
	color:white;
	
	text-align:center;
}
h2.center
{
	color:white;
	
	text-align:center;
}
h2.orange
{
	color:darkred;
	
	text-align:center;
}
h3.center
{
	color:white;
	
	text-align:center;
}
h4.center
{
	color:white;
	
	text-align:center;
}
h4.while
{
	color:white;
}
h3.while
{
	color:white;
}
h2.while
{
	color:white;
}
h1.while
{
	color:white;
}
p.while
{
	color:white;
}